In [4]:
from scipy.stats import chisquare
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('Titanic-Dataset.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
p_class = {
    1: [
        len(df[(df['Pclass'] == 1) & (df['Survived'] == 1)]),
        len(df[(df['Pclass'] == 1) & (df['Survived'] == 0)])
    ],
    2: [
        len(df[(df['Pclass'] == 2) & (df['Survived'] == 1)]),
        len(df[(df['Pclass'] == 2) & (df['Survived'] == 0)])
    ],
    3: [
        len(df[(df['Pclass'] == 3) & (df['Survived'] == 1)]),
        len(df[(df['Pclass'] == 3) & (df['Survived'] == 0)])
    ]
}
print(p_class)

{1: [136, 80], 2: [87, 97], 3: [119, 372]}

In [7]:
exp = {}
sum_s = p_class[1][0] + p_class[2][0] + p_class[3][0]
sum_d = p_class[1][1] + p_class[2][1] + p_class[3][1]
ll = [sum_s, sum_d]
n = sum_s + sum_d

print(sum_s)
print(sum_d)
print(n)

for key, v in p_class.items():
    lllll = []
    for i in range(0, 2):
        lllll.append(np.float64(sum(v) * ll[i] / n))
    exp[key] = lllll
print(exp)

342
549
891
{1: [np.float64(82.9090909090909), np.float64(133.0909090909091)], 2: [np.float64(70.62626262626263), np.float64(113.37373737373737)], 3: [np.float64(188.46464646464648), np.float64(302.5353535353535)]}

In [8]:
l = [p_class[1][0], p_class[1][1], p_class[2][0], p_class[2][1], p_class[3][0], p_class[3][1]]
m = [exp[1][0], exp[1][1], exp[2][0], exp[2][1], exp[3][0], exp[3][1]]
chisquare(l, f_exp=m)

Power_divergenceResult(statistic=np.float64(102.88898875696057), pvalue=np.float64(1.299907547936226e-20))